.feelcontainer{
    height: 100vh;
  background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/deserve-more-bg.jpg);
}

.headingcontent{
    margin: 0rem 5rem;
    width: 50%;
    height: 90%;  
    
}


.headingcontent h1{
    padding-top: 1rem;
    font-size: 80px;
}
.headingcontent h2{
    font-size: 30px;
    padding-left:1rem;
   
}
.headingcontent p{
    font-size: 20px;
    padding:1rem;
    padding-bottom: 2rem;

}